.header{
    width: 100%;
    background-color: #000;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
}

.title{
    float: left;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}

.operation{
    float: right;
    color: #fff;
}

.button{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: none;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s;
    padding-right: 3px;
}

.button:hover{
    background-color: #1579ff;
    color:#fff;
}

.operation span{
    margin-right: 15px;
}