.avatarContainer{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}