.item{
    text-align: center;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 8px;
    cursor: pointer;
}

.item.disabled{
    cursor: not-allowed;
    color: #ccc;
}

.item.active{
    color: #f40;
    border: none;
    cursor: auto;
}
