.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.form{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 450px;
    height: 280px;
    margin: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
.form::before{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
    background-image: url("../../assets/img/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.login{
    width: 200px;
    height: 25px;
    line-height: 25px;
    border-radius: 7px;
    transition: all .3s;
    margin-bottom: 10px;
    font-size: 14px;
}

.login:focus{
    border-color: #0b8efd;
    box-shadow: 0 0 5px #0b8efd;
}


.loginBtn{
    width: 242px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s;
}

.loginBtn:hover{
    background-color: #0b8efd;
    color: #fff;
}